__pycache__/

# Data files
*.tif
*.mrc
*.mdoc
*.lif
*.lifext
*.npy
*.h5
data
.idea
clement/.idea
old
images
log
.DS_Store

#projects
test
projects
supplementary

# Temp files
.*.swp

# Compiled files
build/
dist/
*.egg-info/
