/*
 * background = #1d262a
 * text color = #eaf0ce
 * disabled color = #808371
 * select color = #57727b
 * highlight = #a39594
 */

QWidget {
  background: #1d262a;
  color: #eaf0ce;
}
  QWidget:disabled {
    color: #808371;
  }

QSplitter {
  spacing: 0px;
  padding: 0px;
  margin: 0px;
}
  QSplitter::separator {
    background-color: #1d262a;
  }
  QSplitter::separator:hover {
    background-color: #57727b;
  }
  QSplitter::separator:horizontal {
    width: 4px;
  }

QMenuBar {
  background-color: #1d262a;
}
  QMenuBar::item {
    background: transparent;
    padding: 2px 6px;
  }
  QMenuBar::item:selected {
    background: #57727b;
  }

QMenu {
  background-color: #1d262a;
}
  QMenu::item:selected {
    background: #57727b;
  }

QCheckBox::indicator {
  border: 1px solid #eaf0ce;
  padding: 1px;
}
  QCheckBox::indicator::checked {
    background: #a39594;
  }
